<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="bg-slate-50">


<!-- breadcrumb-section -->
<table class="min-w-full divide-y divide-gray-200">
    <thead>
    <tr>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
        <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Texte</th>
        <th class="px-6 py-3 bg-gray-50"></th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
    {% for reponse in reponses %}
        <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{ reponse.id }}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{ reponse.texte }}</td>
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
