     {% for coach in coaches %}
                                        <div id="CoachContainer" class="flex flex-col items-center">
                                        <div class="w-20 h-20 rounded-full" style="background-image: url('/images/{{ coach.picture }}'); background-size: cover;"></div>
                                        <div id="CoachInformation" class="flex flex-col items-center -space-y-1">
                                         <span class="text-md pt-2">{{ coach.nom }} {{ coach.prenom }}</span>
                                         

                                        </div>
                                        </div>
                            {% endfor %}